@if (showSpinner()) {
  <app-loading-barba />
}
<div class="card-container" [@popAnimation]="readyCount()">
  @for (item of cardDict | keyvalue: keepOrder; track item.key) {
    @if (item.value.extractLoaded && item.value.image) {
      <div class="card">
        <div class="card-img-container">
          @if (item.value.hasImage) {
            <img src="{{item.value.image}}" class="card-img-top" alt="">
          } @else {
            <img src="{{item.value.image}}" class="card-img-top" alt="" #pop="ngbPopover"
              [ngbPopover]="noImageInfo" triggers="manual" popoverClass="notable-popover" container="body"
              (mouseenter)="openNoImagePopover(pop, item.value.wikidataId)" (mouseleave)="scheduleClose()">
          }
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.key }}</h5>
          @if (item.value.creationDate) {
            <p class="card-created text-muted">
              {{ 'stats.lastArticles.createdOn' | translate:{ date: item.value.creationDate } }}
            </p>
          }
          <p class="card-text">
            {{ item.value.extract }}
          </p>
          <a href='https://es.wikipedia.org/wiki/{{item.key}}' class="btn btn-primary">
            {{ 'common.viewOnWikipedia' | translate }}
          </a>
        </div>
      </div>
    }
  }
</div>

@if (!showSpinner() && hasMore) {
  <div class="last-articles-more">
    <button type="button" class="last-articles-more__btn cyan-action-button" (click)="loadMore()" [disabled]="loadingMore()">
      {{ (loadingMore() ? 'common.loading' : 'stats.lastArticles.loadMore') | translate }}
    </button>
  </div>
}

<!-- Shared "no image" popover. Declared here so component styles apply even with
     container="body"; it reads the hovered card's Wikidata id for the link. -->
<ng-template #noImageInfo>
  <span class="no-image-popover" (mouseenter)="cancelClose()" (mouseleave)="scheduleClose()">
    {{ 'stats.lastArticles.noImage' | translate }}
    <a [href]="'https://www.wikidata.org/wiki/' + activeWikidataId()" target="_blank"
      rel="noopener">{{ 'stats.lastArticles.here' | translate }}</a>.
  </span>
</ng-template>