@use 'variables';

.blog-posts-container {
    display: flex;
    flex-direction: column;
}

.blog-post {
    border: solid black 3px;
    box-shadow: black 4px 4px;
    padding: 1em 1.5em;
    border-radius: 40px;
    background-color: variables.$primary;
    margin-block: 0.5em;

    @media screen and (max-width: 990px) {
        margin-inline: 0.5em;
    }

    h2 {
        letter-spacing: -0.125em;
        text-align: center;
        border: solid black 3px;
        border-radius: 15px;
        box-shadow: black 2px 2px;
        padding: 0.4em 1.25em;
        margin-block: 1em;
        background-color: variables.$warning;
        font-size: 1.3rem;
        width: fit-content;
        margin-inline: auto;
    }

    .author {
        font-weight: bold;
    }

    .author,
    .date {
        letter-spacing: -0.1em;
        text-align: center;
    }


}

a.fill-link {
    text-decoration: none;
    color: black;
}

a.fill-link:hover {
    color: variables.$deep-dark-primary;
}