@use 'variables';

.blog-post {
    border: solid black 3px;
    box-shadow: black 4px 4px;
    width: min(95%, 900px);
    padding: 1em 1.5em;
    margin: 1em auto;
    border-radius: 40px;
    background-color: variables.$primary;

    h2 {
        letter-spacing: -0.125em;
        text-align: center;
        border: solid black 3px;
        border-radius: 15px;
        box-shadow: black 2px 2px;
        width: fit-content;
        padding: 0.4em 1.25em;
        margin: 1em auto;
        background-color: variables.$warning;
        font-size: 1.4rem;
    }

    .author,
    .date {
        letter-spacing: -0.1em;
    }


}

a.fill-link {
    text-decoration: none;
    color: black;
}

a.fill-link:hover {
    color: variables.$dark-primary;
}