<div class="attribution-container">
    <p>Se otorga atribución al siguiente contenido utilizado en el sitio web según lo exige la ley:</p>
    <ul>
        <li class="attribution-item">
            Barba-wikiproyecto-lgbt por Antonio Cortés, publicada bajo la licencia Creative Commons Attribution 4.0
            International. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:Barba-wikiproyecto-lgbt.svg">https://commons.wikimedia.org/wiki/File:Barba-wikiproyecto-lgbt.svg</a>
        </li>
        <li class="attribution-item">
            Una versión modificada de Wikipedia 20 Tucán.svg por Ale Hurtado Design, publicada bajo la licencia Creative
            Commons Attribution 4.0 International.
            Commons
            Attribution-Share Alike 4.0 International. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:Wikipedia_20_Tuc%C3%A1n.svg">https://commons.wikimedia.org/wiki/File:Wikipedia_20_Tuc%C3%A1n.svg</a>
        </li>
        <li class="attribution-item">
            Una versión modificada de WP20Symbols 2004 aktenzeichen.svg por Wikimedia Deutschland e. V. publicada bajo
            la
            licencia Creative Commons Attribution-Share Alike 4.0 International. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:WP20Symbols_2004_aktenzeichen.svg">https://commons.wikimedia.org/wiki/File:WP20Symbols_2004_aktenzeichen.svg</a>
        </li>
        <li class="attribution-item">
            Una versión modificada de Wikipedia 20 pink star.svg por Delphine Ménard, publicada bajo la dedicación de
            dominio público Creative Commons CC0 1.0 Universal. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:Wikipedia_20_pink_star.svg">https://commons.wikimedia.org/wiki/File:Wikipedia_20_pink_star.svg</a>
        </li>
        <li class="attribution-item">
            Wikipedia Logo LGBT version.svg, por la Fundación Wikimedia y Sjoel, liberada bajo la licencia Creative
            Commons Attribution-Share Alike 3.0 Unported. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:Wikipedia_Logo_LGBT_version.svg">https://commons.wikimedia.org/wiki/File:Wikipedia_Logo_LGBT_version.svg</a>
        </li>
        <li class="attribution-item">
            Queer LGBT+ guitar graphic.png por ElleAnónime, liberada bajo la licencia Creative Commons Attribution-Share
            Alike 4.0 International. Disponible en: <a
                href="https://commons.wikimedia.org/wiki/File:Queer_LGBT%2B_guitar_graphic.png">https://commons.wikimedia.org/wiki/File:Queer_LGBT%2B_guitar_graphic.png</a>
        </li>
    </ul>
    <p>Otros recursos:</p>
    <ul>
        <li class="attribution-item">La imagen mostrada en la caja del «Desafío del País del mes» se carga
            dinámicamente.
            La atribución se proporciona haciendo clic en el enlace «Ver en Wikipedia» y siguiendo hasta la
            correspondiente página de Wikimedia Commons</li>
        <li class="attribution-item">
            De forma similar, la autoría de la imagen que se carga en la pestaña «Últimos artículos» de la sección
            «Nuestro trabajo» puede consultarse accediendo a través del botón «Ver en Wikipedia», posteriormente
            utilizando el
            botón «Elemento de Wikidata» encontrado en el menú de la derecha. Tras esto, hay que buscar la propiedad
            «Imagen» del ítem en la página de Wikidata y acceder a la información de autoría especificada en Commons
            clicando sobre ella.
        </li>

    </ul>
</div>