@use 'variables';

.attribution-container {
    width: min(1000px, 95%);
    margin-inline: auto;
    border: solid var(--edge) 3px;
    box-shadow: var(--shadow) 4px 4px;
    border-radius: 20px;
    padding: 1.5em;
    margin-block: 1em;
    background-color: var(--surface);
    font-family: variables.$body-font;

    a {
        color: var(--ink);
    }

}