<div class="scrollspy-container">
    <div class="scrollspy">
        <div class="row">
            <div class="scrollspy-navmenu-container col-4">
                <nav [ngbScrollSpyMenu]="spy" class="h-100 flex-column align-items-stretch pe-4">
                    <nav class="nav nav-pills flex-column">
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-1">Introducción</a>

                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-2">Responsable</a>
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-3">Principios aplicados</a>
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-4">Obtención</a>
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-5">Tus derechos</a>
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-6">Seguridad</a>
                        <a role="button" class="nav-link" ngbScrollSpyItem="nested-7">Finalidad</a>




                        <!-- <nav class="nav nav-pills flex-column">
                            <a role="button" class="nav-link" ngbScrollSpyItem="nested-3-1" parent="nested-3">Item
                                3-1</a>
                            <a role="button" class="nav-link" ngbScrollSpyItem="nested-3-2" parent="nested-3">Item
                                3-2</a>
                        </nav> -->
                    </nav>
                </nav>
            </div>

            <div class="scrollspy-textbox-container col-8">
                <h3>Política de privacidad</h3>
                <div ngbScrollSpy #spy="ngbScrollSpy" rootMargin="16px"
                    class="scrollspy-textbox bg-light p-3 rounded-2 mb-3" style="height: 50vh;">
                    <h4 ngbScrollSpyFragment="nested-1">Introducción</h4>
                    <p>
                        Wikimedia LGBT+ es una asociación de personas sin representación como entidad legal. Está
                        reconocida, sin embargo, como afiliado de la Fundación Wikimedia.
                    </p>
                    <h4 ngbScrollSpyFragment="nested-2">Responsable de la administración de los datos</h4>
                    <p>
                        Los datos de carácter personal
                        suministrados a través del formulario de la web son gestionados por las personas administradoras
                        del sitio
                        web. Ante cualquier duda al respecto, puede contactar a través de la dirección
                        ejemplo(arroba)ejemplo.com
                    </p>
                    <h4 ngbScrollSpyFragment="nested-3">Principios aplicados en el tratamiento de datos</h4>
                    <p>
                        En el tratamiento de tus datos personales, WMLGBT+ aplicará los siguientes principios que se
                        ajustan a las exigencias del nuevo reglamento europeo de protección de datos:

                        Principio de licitud, lealtad y transparencia: WMLGBT+ siempre requerirá el consentimiento para
                        el tratamiento de tus datos personales que puede ser para uno o varios fines específicos sobre
                        los que te informará previamente con absoluta transparencia. En este caso, la única finalidad de
                        los datos es la de poder contactar de forma adecuada con la persona que ha rellenado el
                        formulario.
                        Principio de minimización de datos: WMLGBT+ te solicitará solo los datos estrictamente
                        necesarios para el fin o los fines que los solicita.
                        Principio de limitación del plazo de conservación: Los datos se mantendrán durante el tiempo
                        estrictamente necesario para el fin o los fines del tratamiento.
                        WMLGBT+ te informará del plazo de conservación correspondiente según la finalidad cuando esta
                        información sea reqerida por la persona interesada. En el caso de suscripciones, WMLGBT+
                        revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo
                        considerable.
                        Principio de integridad y confidencialidad: Tus datos serán tratados de tal manera que su
                        seguridad, confidencialidad e integridad esté garantizada. Debes saber que WMLGBT+ toma las
                        precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus
                        usuarios por parte de terceros.
                    </p>
                    <h4 ngbScrollSpyFragment="nested-4">Obtención de datos personales</h4>
                    <p>
                        Para navegar por la página web de WMLGBT+ en español no es necesario que facilites ningún dato
                        personal. Los casos en los que sí proporcionas tus datos personales son los siguientes:
                    </p>
                    <ul>
                        <li>Al contactar a través de los formularios de contacto.</li>
                    </ul>

                    <h4 ngbScrollSpyFragment="nested-5">Tus derechos</h4>
                    <p>
                        WMLGBT+ te informa que sobre tus datos personales tienes derecho a:
                    </p>
                    <ul>
                        <li>Solicitar el acceso a los datos almacenados.</li>
                        <li>Solicitar una rectificación o la cancelación.</li>
                        <li>Solicitar la limitación de su tratamiento.</li>
                        <li>Oponerte al tratamiento.</li>
                        <li>Solicitar la portabilidad de tus datos.</li>
                    </ul>
                    <p>
                        El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el
                        interesado, solicitándolo directamente al Titular, lo que significa que cualquier cliente,
                        suscriptor o colaborador que haya facilitado sus datos en algún momento puede dirigirse al
                        Titular y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido,
                        solicitar la rectificación de los mismos, solicitar la portabilidad de sus datos personales,
                        oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros
                        de WMLGBT+.
                    </p>

                    <p>
                        Para ejercitar tus derechos de acceso, rectificación, cancelación, portabilidad y oposición
                        tienes que enviar un correo electrónico a ejemplo(arroba)ejemplo.com junto con la prueba válida
                        en
                        derecho como una fotocopia del D.N.I. o equivalente.
                    </p>

                    <p>
                        Tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de
                        control, en este caso, la Agencia Española de Protección de Datos, si consideras que el
                        tratamiento de datos personales que te conciernen infringe el Reglamento.
                    </p>

                    <h4 ngbScrollSpyFragment="nested-6">Finalidad de los datos</h4>
                    <p>
                        Cuando te conectas al sitio Web para mandar un correo a WMLGBT+, te suscribes a su boletín o
                        realizas una contratación, estás facilitando información de carácter personal de la que el
                        responsable es WBLGBT+. Esta información puede incluir datos de carácter personal como pueden
                        ser
                        tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número
                        de
                        teléfono, y otra información. Al facilitar esta información, das tu consentimiento para que tu
                        información sea recopilada, utilizada, gestionada y almacenada por superadmin.es, sólo como se
                        describe en el Aviso Legal y en la presente Política de Privacidad.
                    </p>

                    <p>
                        Los datos personales y la finalidad del tratamiento por parte de WMLGBT+ es diferente según el
                        sistema de captura de información:
                    </p>

                    <ul>
                        <li>
                            Formularios de contacto: WMLGBT+ solicita datos personales entre los que pueden estar:
                            Nombre y
                            apellidos, dirección de correo electrónico, número de teléfono y dirección de tu sitio Web
                            con la
                            finalidad de responder a tus consultas.
                        </li>
                    </ul>

                    <p>
                        Por ejemplo, WMLGBT+ utiliza esos datos para dar respuesta a tus mensajes, dudas, quejas,
                        comentarios o inquietudes que puedas tener relativas a la información incluida en el sitio Web,
                        los
                        servicios que se prestan a través del sitio Web, el tratamiento de tus datos personales,
                        cuestiones
                        referentes a los textos legales incluidos en el sitio Web, así como cualquier otra consulta que
                        puedas tener y que no esté sujeta a las condiciones del sitio Web o de la contratación.
                    </p>

                    <h4 ngbScrollSpyFragment="nested-7">Seguridad de los datos personales</h4>
                    <p>
                        Para proteger tus datos personales, WMLGBT+ toma todas las precauciones razonables y sigue las
                        mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación,
                        alteración o destrucción de los mismos.
                    </p>

                    <p>
                        El sitio Web está alojado en <a href="https://admin.toolforge.org/">Toolforge</a>. La seguridad
                        de tus datos está
                        garantizada, ya que toman todas las medidas de seguridad necesarias para ello. Puedes consultar
                        su
                        política de privacidad para tener más información.
                    </p>

                    <h5 ngbScrollSpyFragment="nested-3-2">Item 3-2</h5>
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                        retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher
                        retro
                        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                        Aliquip
                        placeat
                        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>