.carousel-inner {
    width: min(95%, 900px);
    height: min(95%, 400px);
    margin: 0 auto;
    border-radius: 40px;
    border: solid black 4px;
    box-shadow: black 6px 6px;

    .img-wrapper {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .carousel-caption {
        color: black;
        font-weight: bold;
    }

}

.carousel+hr {
    border-top: none;
}