<div class="carousel-and-boxes">
  @if (blocksReady()) {
    <div class="carousel-wrapper" [@popAnimation]="blocksReady()">
      @if (images(); as slides) {
        <ngb-carousel>
          @for (image of slides; track $index) {
            <ng-template ngbSlide>
              <div class="img-wrapper">
                <img [src]="image" alt="Random slide" />
              </div>
              @switch ($index) {
                @case (0) {
                  <div class="carousel-caption image-1">
                    <h3>{{ 'home.carousel.visibilize.title' | translate }}</h3>
                    <p>{{ 'home.carousel.visibilize.text' | translate }}</p>
                  </div>
                }
                @case (1) {
                  <div class="carousel-caption image-2">
                    <h3>{{ 'home.carousel.protect.title' | translate }}</h3>
                    <p>{{ 'home.carousel.protect.text' | translate }}</p>
                  </div>
                }
                @case (2) {
                  <div class="carousel-caption image-3">
                    <h3>{{ 'home.carousel.join.title' | translate }}</h3>
                    <p>{{ 'home.carousel.join.text' | translate }}</p>
                  </div>
                }
              }
            </ng-template>
          }
        </ngb-carousel>
      }
    </div>

    <div class="box-set">
      <div class="card text-center" [@popAnimation]="blocksReady()">
        <div class="img-container">
          <img [src]=eventoDelMesImage class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-statement">{{ 'home.eventOfMonth' | translate }} <span class="pais">{{eventoDelMes}}</span></p>
          <a href="https://es.wikipedia.org/wiki/Wikiproyecto:LGBT/Pa%C3%ADs_del_mes" class="btn btn-primary">{{ 'common.viewOnWikipedia' | translate }}</a>
        </div>
      </div>
      <div class="card text-center" [@popAnimation]="blocksReady()">
        <div class="img-container">
          <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file&wpvalue=Wikipedia Logo LGBT version.svg"
            class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-statement">{{ 'home.missingArticle' | translate }}</p>
          <a href="https://es.wikipedia.org/wiki/Wikiproyecto:LGBT/Solicitados"
          class="btn btn-primary">{{ 'home.requestIt' | translate }}</a>
        </div>
      </div>
    </div>
  }
</div>