<div class="chart-container">
    <div class="chart-text">
        <p [innerHTML]="'stats.notable.text1' | translate"></p>
        <p>{{ 'stats.notable.text2' | translate }}</p>
    </div>
    <div class="chart">
        <div class="star-chart-container">
            <div class="star-total">{{ 'stats.notable.featured' | translate }} <span class="star-total-number">{{notableArtDict.AD.length ||
                    ''}}</span></div>
            <div class="star-chart" [@popAnimation]="notableArtDict.AD">
                @for (item of notableArtDict.AD; track item) {
                <a href="https://es.wikipedia.org/wiki/{{item}}"><img class="star"
                        src="./../../../../assets/imgs/featured_article_symbol.svg" alt=""></a>
                }
            </div>

        </div>
        <div class="star-chart-container">
            <div class="star-total">{{ 'stats.notable.good' | translate }} <span class="star-total-number">{{notableArtDict.AB.length ||
                    ''}}</span></div>
            <div class="star-chart" [@popAnimation]="notableArtDict.AB">
                @for (item of notableArtDict.AB; track item) {
                <a href="https://es.wikipedia.org/wiki/{{item}}"><img class="star"
                        src="./../../../../assets/imgs/good_article_symbol.svg" alt=""></a>
                }
            </div>
        </div>
    </div>
</div>