<div class="chart-container reversed">
    <div class="chart-text">
        <p>El bloque fundamental de nuestra comunidad son sus participantes. Ahora mismo somos:</p>
        <span class="count-paragraph"><span class="count-text">{{totalParticipantCount}}</span> personas</span>
        <p>En el gráfico puedes observar las nuevas altas a lo largo de los últimos años</p>
    </div>
    <div class="chart">
        <canvas id="participantCountChart">{{ participantCountChart}} </canvas>
    </div>
</div>