
<div class="chart-container reversed">
    <div class="chart-text">
        <p>Aunque hay muchísimas formas distintas de contribuir como parte de WMLGBT+, los artículos conforman la
            característica más reconocible de Wikipedia. En total, nuestra comunidad ha creado:</p>
        <span class="count-paragraph"><span class="count-text">{{totalArticleCount || ''}}</span> artículos</span>
        <p>En el gráfico puedes observar qué tal lo hemos hecho estos últimos años</p>
    </div>
    <div class="chart">
        <canvas id="yearlyArticlesChart">{{ yearlyArticlesChart }}</canvas>
    </div>
</div>