/* You can add global styles to this file, and also import other style files */
@import "./custom";

body {
    background-image: url('./assets/imgs/background_dot.svg');
    background-color: $body-background;
    background-repeat: repeat;
}

.btn {
    font-weight: bold;
    font-size: 90%;
    box-shadow: black 4px 4px;
    letter-spacing: -0.1rem;
    margin: 0.5em;
    border: solid black 3px;
    font-family: $font-family-sans-serif;
}

.btn.disabled,
.btn:disabled {
    border-color: black;
}

.btn:hover {
    box-shadow: inset;
    border: solid black 3px;
}

.btn:disabled:hover,
.btn.disabled:hover {
    cursor: not-allowed !important;
}


.carousel-inner {
    display: flex;
    width: min(95%, 900px);
    margin: 0 auto;
    border-radius: 40px;
    border: solid black 4px;
    box-shadow: black 6px 6px;

    .img-wrapper {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        min-height: 10em;
        color: black;
        font-weight: bold;

        @media (screen) and (max-width: 480px) {
            min-height: 13em;
            padding-inline: 0.5em;
        }

    }

    .carousel-caption.image-1 {
        background-color: $light;
    }

    .carousel-caption.image-2 {
        background-color: $primary;
    }

    .carousel-caption.image-3 {
        background-color: $warning;
    }

}

.carousel+hr {
    border-top: none;
}

.accordion {
    width: min(95%, 700px);
    margin: 0 auto;
    border: solid black 3px;
    border-radius: 10px;
    box-shadow: black 4px 4px;
}

.accordion-button {
    font-weight: bold;
    letter-spacing: -0.1rem;
    border: solid black 3px;
    border-radius: 10px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-header:focus {
    border: none;
}

.accordion-body {
    font-family: $body-font;
}

.alert {
    width: min(500px, 95%);
    font-family: $body-font;
    margin: 1em auto;
    border: solid black 3px;
    border-radius: 10px;
    color: black;
    box-shadow: black 4px 4px;
}

.dropdown {
    .dropdown-menu {
        border: solid black 3px;
        box-shadow: black 4px 4px;

        .dropdown-item {
            letter-spacing: -0.1rem;
            font-size: 0.9em;
        }

    }

    .dropdown-toggle.show {
        border-color: black;
    }

    .dropdown-toggle.btn-outline-primary {
        background-color: $almost-black-primary;
    }

    .dropdown-toggle.btn-outline-primary:hover,
    .dropdown-toggle.btn-outline-primary.show {
        color: $dark-primary;
    }

    .dropdown-toggle.btn-outline-secondary {
        color: black;
        background-color: $light;
    }

    .dropdown-toggle.btn-outline-secondary:hover,
    .dropdown-toggle.btn-outline-secondary.show {
        background-color: $secondary;
    }

}



.list-group {
    width: min(95%, 300px);
    margin: 2em auto;
    box-shadow: black 4px 4px;
    border-radius: 20px;
    letter-spacing: -0.1em;
    background-color: black;

    a,
    a.active {
        color: black;
        border: solid black 3px;
    }

    a:hover {
        background-color: $light;
    }

    a.active:hover {
        background-color: $light;
        box-shadow: black 2px;
        box-shadow: none;
    }

    a.disabled {
        background-color: $gray-lighter;
    }

}

.modal-content {
    border: solid black 3px;
    box-shadow: black 4px 4px;
    background-image: url('./assets/imgs/background_dot.svg');
    background-color: $light;
    background-repeat: repeat;

    .modal-header {
        letter-spacing: -0.1em;
    }

    .modal-body {
        font-family: $body-font;
        border-block: solid black 3px;
        background-image: none;
        background-color: $body-background;
    }

}

.btn-close {
    fill: black;
    opacity: 1;
    border: solid black 2px;
    padding: none;
    background-color: $gray-lighter;
    box-shadow: black 2px 2px;
}

.card {
    border: solid black 2px;
    box-shadow: black 4px 4px;
    border-radius: 10px;
    margin: 2em auto;
    background-color: $light;

    .card-img-container {
        margin: 2em;
        border: dashed black 4px;
        border-radius: 20px;

    }



    .card-title {
        letter-spacing: -0.1em;
    }

    .card-text {
        font-family: $body-font;
    }

}

@media screen and (orientation: portrait) {
    .post-content {
        margin-inline: none;
    }

    .scrollspy {
        padding: 1em;
    }

    .scrollspy>div {
        display: flex;
        flex-direction: column;

        .scrollspy-navmenu-container {
            width: 100%;
            padding-bottom: 1em;

            .nav-pills {
                flex-direction: row !important;
            }

            .nav-link {
                align-self: center;
            }

        }

        .scrollspy-textbox-container {
            width: 100%;
        }

    }

}

.chart-box {
    min-height: 60vh;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $lighter-orange;
    position: relative;
    width: min(900px, 95%);
    margin: 1em auto;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: black 3px 3px;
    padding: 2em;

    a {
        color: black;
        text-decoration: wavy underline;
        transition: color 0.3s ease-in-out;
        font-weight: normal;
    }

    a:hover {
        color: $deep-dark-primary;
    }


    .chart {
        width: 65%;
        flex: auto;
    }

    .chart-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-block: 1em;
        margin-inline: min(1em, 5%);
        font-family: $body-font;
        width: 13em;
        flex: auto;

        p {
            margin-bottom: 0;
        }

        .count-paragraph {
            align-self: center;

            .count-text {
                font-size: 4em;
            }

        }

    }

}

.reversed {
    flex-direction: row-reverse;
}

.card-set-title,
.chart-title {
    letter-spacing: -0.125em;
    text-align: center;
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: black 2px 2px;
    width: fit-content;
    padding: 0.4em 1.25em;
    margin: 1em auto;
    background-color: $warning;
    font-size: 1.4rem;
}

.card-container {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin-inline: 2%;
        max-width: 20em;
    }

}

.star-chart-container {
    display: flex;
    flex-direction: column;
    align-content: center;

    .star-total {
        width: 100%;
        text-align: center;

        .star-total-number {
            font-size: 2em;
            font-weight: bold;
        }

    }

    .star-chart {
        width: 100%;

        .star {
            width: 1.75em;
            height: auto;
            transition: opacity 0.4s ease;
        }

        .star:hover {
            opacity: 60%;
        }
    }

}

figure {
    div.post-img-container {
        border: dashed black 3px;
        border-radius: 20px;
        height: auto;
        width: fit-content;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        margin-inline: auto;

        img {
            border-radius: 20px;
            width: 100%;
            max-width: 40em;
            min-width: min(20em, 90%);
            max-height: 20em;
            min-height: 10em;
        }

    }

    figcaption.figure-caption {
        width: min(100%, 700px);
        margin-inline: auto;
        text-align: center;

        a {
            color: inherit;
            text-decoration: wavy underline;
        }

        a:hover {
            color: $deep-dark-primary;
        }

    }

}

.post-content {
    font-family: $body-font;
    margin-block: 2em;

    p {

        a {
            color: black;
            text-decoration: wavy underline;
            /* Add underline */
            transition: color 0.3s ease-in-out;
            /* Add transition effect for text-shadow */
            font-weight: normal;
        }

        a:hover {
            color: $deep-dark-primary;
        }

    }

}