<div class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="link-list">
                <ul>
                    <li class="list-item">
                        <a href="https://meta.wikimedia.org/wiki/Wikimedia_LGBT%2B/Portal" target="_blank">Meta</a>
                    </li>
                    <li class="list-item">
                        <a routerLink="/blog-admin">Blog panel</a>
                    </li>
                    <li class="list-item">
                        <a [href]="isAuth ? '/logout' : '/login'">{{isAuth ? 'Cerrar sesión' : 'Admin login'}}</a>
                    </li>
                </ul>
            </div>
            <div class="link-list">
                <ul>
                    <li class="list-item">
                        <a href="/privacy">Política de privacidad</a>
                    </li>
                    <li class="list-item">
                        <a href="/attribution">Atribución</a>
                    </li>
                    <li class="list-item">
                        <a target="_blank"
                            href="https://foundation.wikimedia.org/wiki/Policy:Universal_Code_of_Conduct/es">Código
                            Universal de Conducta</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="social-media-icons">
                <div class="icon-container">
                    <a href="https://es.wikipedia.org/wiki/Wikiproyecto:LGBT">
                        <img src="../../../assets/imgs/social_media_icons/wikipedia.svg" alt="">
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://x.com/wikilgbt">
                        <img src="./../../../assets/imgs/social_media_icons/twitter.svg" alt="">
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://t.me/+wr-g6Q1H0FU3Mzk8">
                        <img src="./../../../assets/imgs/social_media_icons/telegram.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>