@use 'variables';

.error-container {
    margin: 2em;
    padding: 2.5em;
    border: solid black 3px;
    border-radius: 30px;
    background-color: variables.$info;
    box-shadow: black 4px 4px;
    text-align: center;

    .barba-question {
        max-width: 20em;
        margin-inline: auto;
    }

    .error-title {
        font-weight: bold;
    }

}