<nav class="stats-navbar">
    <li class="stats-navbar-option" [class.active]="activeSection === 'yearly-articles'">
        <a href="#yearly-articles" (click)="selectSection($event, 'yearly-articles')">{{ 'stats.nav.yearlyArticles' | translate }}</a>
    </li>
    <li class="stats-navbar-option" [class.active]="activeSection === 'monthly-articles'">
        <a href="#monthly-articles" (click)="selectSection($event, 'monthly-articles')">{{ 'stats.nav.monthlyArticles' | translate }}</a>
    </li>
    <li class="stats-navbar-option" [class.active]="activeSection === 'notable'">
        <a href="#notable" (click)="selectSection($event, 'notable')">{{ 'stats.nav.notable' | translate }}</a>
    </li>
    <li class="stats-navbar-option" [class.active]="activeSection === 'participants'">
        <a href="#participants" (click)="selectSection($event, 'participants')">{{ 'stats.nav.participants' | translate }}</a>
    </li>
    <li class="stats-navbar-option" [class.active]="activeSection === 'last-articles'">
        <a href="#last-articles" (click)="selectSection($event, 'last-articles')">{{ 'stats.nav.lastArticles' | translate }}</a>
    </li>
</nav>
<div class="chart-box">
    <div class="stats-introduction">
        <p [innerHTML]="'stats.intro1' | translate"></p>
        <p>{{ 'stats.intro2' | translate }}</p>
    </div>
    @if (showEmptyState) {
        <div class="stats-placeholder">
            <img class="placeholder-barba" src="assets/imgs/Barbas/editor/barba_editor_{{barba}}.svg" alt="">
            <p class="placeholder-label">{{ 'stats.pickSection' | translate }}</p>
        </div>
    }
    @if (showYearlyArticles) {
        <app-statistics-yearly-articles [@slideInOut]="showYearlyArticles"></app-statistics-yearly-articles>
    }
    @if (showMonthlyArticles) {
        <app-statistics-monthly-articles [@slideInOut]="showMonthlyArticles"></app-statistics-monthly-articles>
    }
    @if (showNotable) {
        <app-statistics-notable [@slideInOut]="showNotable"></app-statistics-notable>
    }
    @if (showParticipants) {
        <app-statistics-participants [@slideInOut]="showParticipants"></app-statistics-participants>
    }
    @if (showLastArticles) {
        <app-statistics-last-articles [@slideInOut]="showLastArticles"></app-statistics-last-articles>
    }
</div>