<nav class="stats-navbar">
    <li class="stats-navbar-option" (click)="showChart('yearly-articles')">
        <a href="javascript:void(0)">{{ 'stats.nav.yearlyArticles' | translate }}</a>
    </li>
    <li class="stats-navbar-option" (click)="showChart('monthly-articles')">
        <a href="javascript:void(0)">{{ 'stats.nav.monthlyArticles' | translate }}</a>
    </li>
    <li class="stats-navbar-option" (click)="showChart('notable')">
        <a href="javascript:void(0)">{{ 'stats.nav.notable' | translate }}</a>
    </li>
    <li class="stats-navbar-option" (click)="showChart('participants')">
        <a href="javascript:void(0)">{{ 'stats.nav.participants' | translate }}</a>
    </li>
    <li class="stats-navbar-option" (click)="showChart('last-articles')">
        <a href="javascript:void(0)">{{ 'stats.nav.lastArticles' | translate }}</a>
    </li>
</nav>
<div class="chart-box">
    <div class="stats-introduction">
        <p [innerHTML]="'stats.intro1' | translate"></p>
        <p>{{ 'stats.intro2' | translate }}</p>
    </div>
    @if (showYearlyArticles) {
        <app-statistics-yearly-articles [@slideInOut]="showYearlyArticles"></app-statistics-yearly-articles>
    }
    @if (showMonthlyArticles) {
        <app-statistics-monthly-articles [@slideInOut]="showMonthlyArticles"></app-statistics-monthly-articles>
    }
    @if (showNotable) {
        <app-statistics-notable [@slideInOut]="showNotable"></app-statistics-notable>
    }
    @if (showParticipants) {
        <app-statistics-participants [@slideInOut]="showParticipants"></app-statistics-participants>
    }
    @if (showLastArticles) {
        <app-statistics-last-articles [@slideInOut]="showLastArticles"></app-statistics-last-articles>
    }
</div>