<div class="blog-edit-form">
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    @if (postId) {
      <div class="post-id">{{ 'blog.edit.idLabel' | translate }} {{postId}}</div>
    }
    <div class="date-and-author">
      <div class="form-control">
        <label for="author">{{ 'blog.edit.authorLabel' | translate }} </label>
        <input class="author" type="text" formControlName="author" id="author">
        @if (isFieldInvalid('author')) {
          <div class="form-error" id="userNameError">
            {{getErrorMessage('author')}}
          </div>
        }
      </div>
      <div class="form-control">
        <label for="date">{{ 'blog.edit.dateLabel' | translate }} </label>
        <input class="date" type="date" formControlName="date" id="date">
        <div class="form-error" id="userNameError" [ngClass]="{'hidden': !isFieldInvalid('date')}">
          @if (hasError('date', 'required')) {
            {{ 'blog.edit.dateDefaultHint' | translate }}
          } @else {
            {{getErrorMessage('date')}}
          }
        </div>
      </div>
    </div>
    <div class="form-control">
      <label for="title">{{ 'blog.edit.titleLabel' | translate }} </label>
      <input type="text" formControlName="title" id="title">
      <div class="form-error" id="userNameError" [ngClass]="{'hidden': !isFieldInvalid('title')}">
        {{getErrorMessage('title')}}
      </div>
    </div>

    <div class="form-control">
      <label for="content">{{ 'blog.edit.contentLabel' | translate }} </label>
      <quill-editor
        id="content"
        formControlName="content"
        [modules]="quillModules"
        format="html"
        [placeholder]="'blog.edit.contentPlaceholder' | translate"
        (onEditorCreated)="onEditorCreated($event)">
      </quill-editor>
      <div class="form-error" id="userNameError" [ngClass]="{'hidden': !isFieldInvalid('content')}">
        {{getErrorMessage('content')}}
      </div>
    </div>
    <div class="new-entry-container">
      <button type="button" class="return-button"><a routerLink="/blog-admin">{{ 'blog.edit.backToPanel' | translate }}</a></button>
      <button type="submit" class="new-entry-button" data-bs-toggle="modal"
      data-bs-target="#submitModal">{{ 'blog.edit.save' | translate }}</button>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'blog.edit.status' | translate }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        {{ responseMessage | translate }}@if (showSubmitSpinner()) {
        <div class="spinner-border" role="status"></div>
      }
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=navigateToPanel()>{{ 'blog.edit.backToPanel' | translate }}</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'blog.edit.close' | translate }}</button>
    </div>
  </div>
</div>
</div>