<div class="blog-list-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="blog-entries">
            <tr>
                <td>00000</td>
                <td>06-06-2024</td>
                <td>Nacaru</td>
                <td>Somos LBGT+, más que nunca</td>
                <td>Enlace</td>
                <td>
                    <button>Editar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>00000</td>
                <td>01-06-2024</td>
                <td>MiguelAlanCS</td>
                <td>Otro ejemplo de post</td>
                <td>Enlace</td>
                <td>
                    <button>Editar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="new-entry-container">
    <button class="new-entry-button">Nueva entrada</button>
</div>