@use 'variables';

.admin-username {
    text-align: center;
    margin-block: 0.25em;
    padding: 0.5em;
    border: solid var(--ink) 2px;
    background-color: var(--gray-lighter);
    border-radius: 10px;
    box-shadow: var(--shadow) 2px 2px;
    letter-spacing: -0.1em;
}

.blog-list-container {
    border: solid var(--ink) 2px;
    border-radius: 10px;
    box-shadow: var(--shadow) 4px 4px;
    background-color: var(--gray-lightest);

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0.5em;

        .blog-entries {
            font-family: variables.$body-font;
        }

        th {
            background-color: var(--gray-lighter);
            border-radius: 5px;
            font-weight: bold;
            text-align: center !important;
        }

        th,
        td {
            font-size: 0.9em;
            padding-block: 0.25em;
            padding-inline: 0.75em;
            text-align: left;
        }

        button {
            margin-right: 0.25em;
            border: solid var(--gray-lighter) 2px;
            border-radius: 10px;
            padding-inline: 0.5em;
            font-size: 0.85em;
            box-shadow: var(--gray-lighter) 1px 1px;
        }
    }

}

.new-entry-container {
    margin-top: 1em;

    .new-entry-button {
        font-size: 0.9em;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: var(--shadow) 4px 4px;
        background-color: var(--gray-darker);
        color: var(--paper);
        border: none;
        cursor: pointer;
    }

    .new-entry-button:hover {
        background-color: var(--gray-dark);
    }

}

.logout-button-container {
    margin-top: 1em;

    .logout-button {
        font-size: .9em;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: var(--shadow) 4px 4px;
        background-color: var(--gray-lighter);
        color: var(--ink);
        border: none;
        cursor: pointer;
    }

    .logout-button:hover {
        background-color: var(--gray-light);
    }

}

a {
    color: var(--ink);
}