<div class="admin-username">{{adminUsernameText}}</div>
<div class="blog-list-container">
    <table>
        <thead>
            <tr>
                <th>{{ 'blog.admin.id' | translate }}</th>
                <th>{{ 'blog.admin.date' | translate }}</th>
                <th>{{ 'blog.admin.author' | translate }}</th>
                <th>{{ 'blog.admin.title' | translate }}</th>
                <th>{{ 'blog.admin.content' | translate }}</th>
                <th>{{ 'blog.admin.actions' | translate }}</th>
            </tr>
        </thead>
        <tbody class="blog-entries">
            @for (item of infoArray; track $index) {
            <tr id="post{{item.id}}">
                <td>{{item.id}}</td>
                <td>{{item.date | dateFormat }}</td>
                <td>{{item.author}}</td>
                <td>{{item.title}}</td>
                <td><a href="/blog/{{item.id}}" target="_blank">{{ 'blog.admin.link' | translate }}</a></td>
                <td>
                    <button><a routerLink="/blog-edit/{{item.id}}">{{ 'blog.admin.edit' | translate }}</a></button>
                    <button id="delete{{item.id}}" (click)="deletePost(item.id)">{{ 'blog.admin.delete' | translate }}</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="new-entry-container">
    <a routerLink="/blog-edit"><button class="new-entry-button">{{ 'blog.admin.newEntry' | translate }}</button></a>
</div>
<div class="logout-button-container">
    <a href="/logout"><button class="logout-button">{{ 'blog.admin.logout' | translate }}</button></a>
</div>