<div class="blog-list-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="blog-entries">
            @for (item of infoArray; track $index) {
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.date | dateFormat }}</td>
                <td>{{item.author}}</td>
                <td>{{item.title}}</td>
                <td><a href="/blog/{{item.id}}">Enlace</a></td>
                <td>
                    <button><a href="/blog-edit/{{item.id}}">Editar</a></button>
                    <button>Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="new-entry-container">
    <button class="new-entry-button">Nueva entrada</button>
</div>