<div class="chart-container">
    <div class="chart-text">
        <p>Eventos como el <a href="https://es.wikipedia.org/wiki/Wikiproyecto:LGBT/Pa%C3%ADs_del_mes">Desafío del País
                del Mes</a> nos permiten mantener nuestras ediciones mensuales altas. Solo este mes se han creado:</p>
        <span class="count-paragraph"><span class="count-text">{{thisMonthArticleCount}}</span> artículos</span>
        <p>Nuestros períodos de mayor actividad se suelen concentrar en los meses de marzo y junio, ¿puedes adivinar por
            qué?</p>
    </div>
    <div class="chart">
        <canvas id="monthlyArticlesChart">
            {{ monthlyArticlesChart }}
        </canvas>
    </div>
</div>