@use 'variables';

.chart-container {
    background-color: variables.$lighter-orange;
    position: relative;
    width: min(1000px, 95%);
    height: 20em;
    margin: 0 auto;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: black 3px 3px;
    padding: 2em;
}

.card-set-title,
.chart-title {
    letter-spacing: -0.125em;
    text-align: center;
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: black 2px 2px;
    width: fit-content;
    padding: 0.4em 1.25em;
    margin: 1em auto;
    background-color: variables.$warning;
    font-size: 1.4rem;
}

.card-container {
    width: min(1250px, 95%);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin-inline: 2%;
        max-width: 20em;
    }

}