@use 'variables';

.chart-container {
    display: flex;
    flex-wrap: wrap;
    background-color: variables.$lighter-orange;
    position: relative;
    width: min(1000px, 95%);
    height: auto;
    margin: 0 auto;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: black 3px 3px;
    padding: 2em;

    a {
        color: black;
        text-decoration: wavy underline;
        /* Add underline */
        transition: color 0.3s ease-in-out;
        /* Add transition effect for text-shadow */
        font-weight: normal;
    }

    a:hover {
        color: variables.$deep-dark-primary;
    }


    .chart {
        width: 65%;
        flex: auto;
    }

    .chart-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-block: 1em;
        margin-inline: min(1em, 5%);
        font-family: variables.$body-font;
        width: 13em;
        flex: auto;

        p {
            margin-bottom: 0;
        }

        .count-paragraph {
            align-self: center;

            .count-text {
                font-size: 4em;
            }

        }

    }

}

.reversed {
    flex-direction: row-reverse;
}

.card-set-title,
.chart-title {
    letter-spacing: -0.125em;
    text-align: center;
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: black 2px 2px;
    width: fit-content;
    padding: 0.4em 1.25em;
    margin: 1em auto;
    background-color: variables.$warning;
    font-size: 1.4rem;
}

.card-container {
    width: min(1250px, 95%);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin-inline: 2%;
        max-width: 20em;
    }

}

.star-chart-container {
    display: flex;
    flex-direction: column;
    align-content: center;

    .star {
        width: 2em;
        height: auto;
    }

    .star-total {
        text-align: center;
        padding-block: 1em;

        .star-total-number {
            font-size: 2.5em;
            font-weight: bold;
        }

    }

}