<h2 class="chart-title">Artículos</h2>
<div class="chart-container reversed">
    <div class="chart-text">
        <p>Aunque hay muchísimas formas distintas de contribuir como parte de WMLGBT+, los artículos conforman la
            característica más reconocible de Wikipedia. En total, nuestra comunidad ha creado:</p>
        <span class="count-paragraph"><span class="count-text">{{totalArticleCount}}</span> artículos</span>
        <p>En el gráfico puedes observar qué tal lo hemos hecho estos últimos años</p>
    </div>
    <div class="chart">
        <canvas id="articleCountChart">{{ articleCountChart }}</canvas>
    </div>
</div>

<h2 class="chart-title">Artículos por mes</h2>
<div class="chart-container">
    <div class="chart-text">
        <p>Eventos como el <a href="https://es.wikipedia.org/wiki/Wikiproyecto:LGBT/Pa%C3%ADs_del_mes">Desafío del País
                del Mes</a> nos permiten mantener nuestras ediciones mensuales altas. Solo este mes se han creado:</p>
        <span class="count-paragraph"><span class="count-text">{{totalThisMonthArticleCount}}</span> artículos</span>
        <p>Nuestros períodos de mayor actividad se suelen concentrar en los meses de marzo y junio, ¿puedes adivinar por
            qué?</p>
    </div>
    <div class="chart">
        <canvas id="monthlyCountChart">
            {{ monthlyCountChart }}
        </canvas>
    </div>
</div>

<h2 class="chart-title">Participantes</h2>
<div class="chart-container reversed">
    <div class="chart-text">
        <p>El bloque fundamental de nuestra comunidad son sus participantes. Ahora mismo somos:</p>
        <span class="count-paragraph"><span class="count-text">{{totalParticipantCount}}</span> personas</span>
        <p>En el gráfico puedes observar las nuevas altas a lo largo de los últimos años</p>
    </div>
    <div class="chart">
        <canvas id="participantCountChart">{{ participantCountChart}} </canvas>
    </div>
</div>

<h2 class="card-set-title">
    Últimos artículos
</h2>
<div class="card-container" style="display:flex;">
    @for (item of cardDict | keyvalue; track item; let i = $index) {
    <div class="card" style="width: 18rem;">
        <div class="card-img-container">
            <img src={{item.value.image}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.key }}</h5>
            <p class="card-text">
                {{ item.value.extract }}
            </p>
            <a href='https://es.wikipedia.org/wiki/{{item.key}}' class="btn btn-primary">
                Ver en Wikipedia
            </a>
        </div>
    </div>
    }
</div>

<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-success">Success</button>

<div ngbAccordion>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="bg-primary">First</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim
                    id est laborum.</ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="bg-secondary">Second</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt
                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur
                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    quia
                    dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et
                    dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                    ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit qui in
                    ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla
                    pariatur?</ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="bg-primary-subtle">Third</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                    pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great
                    explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids
                    pleasure
                    itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
                    encounter
                    consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires
                    to obtain
                    pain of itself, because it is pain, but because occasionally circumstances occur in which toil and
                    pain can
                    procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
                    physical
                    exercise, except to obtain some advantage from it? But who has any right to find fault with a man
                    who chooses
                    to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no
                    resultant
                    pleasure?</ng-template>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
        A simple light gray alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
        A simple dark gray alert—check it out!
    </div>
</div>

<div style="display: flex; margin: 0 auto;">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Toggle dropdown
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                    Toggle dropdown
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        The current link item
    </a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Example of text within the body of a modal. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corrupti
                eaque, neque architecto, sunt optio ullam quas explicabo minima eveniet cupiditate officiis a tenetur
                ipsa
                tempora suscipit, aperiam libero incidunt in.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="./../assets/imgs/Barba-wikiproyecto-lgbt.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>