@if (!loaded()) {
<app-loading-barba />
} @else {
<div animate.enter="fade-in">
  <nav class="subpage-nav">
    <li class="subpage-nav-option" [class.active]="section() === 'map'">
      <a href="#map" (click)="show($event, 'map')">{{ 'event.nav.map' | translate }}</a>
    </li>
    <li class="subpage-nav-option" [class.active]="section() === 'list'">
      <a href="#list" (click)="show($event, 'list')">{{ 'event.nav.list' | translate }}</a>
    </li>
  </nav>

  <div class="event-intro">
    <p [innerHTML]="'event.intro' | translate"></p>
  </div>

  @if (section() === 'map') {
  <app-event-map animate.enter="fade-in" [countries]="data().countries"></app-event-map>
  } @else {
  <app-event-list animate.enter="fade-in" [events]="data().events"></app-event-list>
  }
</div>
}
