@if (isLoggedIn !== null && !isLoggedIn) {
<div class="login-container" [@popAnimation]="animate">
    <div class="mb-2">
        El login de administradores se lleva a cabo a través de MediaWiki Oauth
    </div>
    <div class="submit-button-container">
        <a href="/login-mediawiki">
            <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal" data-bs-target="#formConfirm">
                Iniciar sesión
            </button>
        </a>
    </div>
</div>
}
@if (isLoggedIn && !isAdmin) {
<div class="login-container" [@popAnimation]="animate">
    <div class="mb-2">
        Lo siento, pero parece que no perteneces al grupo de administradores.
    </div>
</div>
}