@if (isLoggedIn() !== null && !isLoggedIn()) {
<div class="login-container" [@popAnimation]="animate()">
    <div class="mb-2">
        {{ 'login.oauthInfo' | translate }}
    </div>
    <div class="submit-button-container">
        <a href="/login-mediawiki">
            <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal" data-bs-target="#formConfirm">
                {{ 'login.signIn' | translate }}
            </button>
        </a>
    </div>
</div>
}
@if (isLoggedIn() && !isAdmin()) {
<div class="login-container" [@popAnimation]="animate()">
    <div class="mb-2">
        {{ 'login.notAdmin' | translate }}
    </div>
</div>
}