<!-- @if (!loaded && !error) {
<div class="spinner-container text-secondary">
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
} -->

<div class="blog-post" [@popAnimation]="loaded" [ngClass]="{hidden: !loaded}">
    @if (loaded) {
    <h2>{{title}}</h2>
    <div class="post-info">
        <div class="thumb-img-container">
            <img src="./../assets/imgs/Barba-wikiproyecto-lgbt.svg" alt="Título" class="post-image">
        </div>
        <div class="author-and-thumb">

            <span class="author">por <span class="author-name">{{author}}</span></span>
            <span class="date">{{date | dateFormat }}</span>
        </div>

    </div>
    <div class="post-content" [innerHTML]="content">
    </div>
    }
</div>

@if (error) {
<div class="blog-post">
    <h1 class="error-title">Error: 404</h1>
    <span>¡Lo siento! Parece que ese post del blog que estás buscando no existe.</span>
</div>
}