@use 'variables';

.blog-post {
    border: solid black 3px;
    box-shadow: black 4px 4px;
    width: min(95%, 900px);
    padding: 1em 7vw;
    margin: 1em auto;
    border-radius: 40px;
    background-color: variables.$primary;

    h2 {
        letter-spacing: -0.125em;
        text-align: center;
        border: solid black 3px;
        border-radius: 15px;
        box-shadow: black 2px 2px;
        width: fit-content;
        padding: 0.4em 1.25em;
        margin: 1em auto;
        background-color: variables.$warning;
        font-size: 1.4rem;
    }

    .post-info {
        display: flex;
        flex-direction: row;

        .author-and-thumb {
            display: flex;
            flex-direction: column;
            margin-inline: 1em;

            .author {
                align-self: center;
                letter-spacing: -0.1em;

                .author-name {
                    font-weight: bold;
                }

            }

            .date {
                color: #515151;
            }

        }

        .thumb-img-container {
            width: 2.75em;
            height: 2.75em;
            border: solid black 2px;
            box-shadow: black 1px 1px;
            border-radius: 50%;
            background-color: variables.$light;
            justify-self: center;

            img {
                width: 100%;
                height: 100%;
                clip-path: circle(50% at 50% 50%);
            }
        }

    }

    .post-content {
        font-family: variables.$body-font;
        margin-block: 2em;
    }


}

.error-title {
    font-weight: bold;
}

.hidden {
    display: none;
}

.spinner-container {
    display: flex;
    justify-content: center;
}