<form [formGroup]="webForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="pronouns" class="form-label">Selecciona tu preferencia de determinantes de género</label>
        <select class="form-box form-select" aria-label="Determinantes de género" id="pronouns"
            formControlName="pronouns" (change)="otherPronounsChosen()">
            <option class="dropdown-item">Él</option>
            <option class="dropdown-item" selected>Ella</option>
            <option class="dropdown-item">Elle</option>
            <option class="dropdown-item">Sin determinar/otro</option>
        </select>
    </div>
    <div class="mb-3" *ngIf="showOtherPronounsField">
        <label for="otherPronouns" class="form-label">Escribe aquí cómo deseas que nos dirijamos a ti</label>
        <input id="otherPronouns" class="form-box form-control" formControlName="otherPronouns">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nombre o alias</label>
        <input class="form-box form-control" id="name" aria-describedby="name" formControlName="name">
        <div class="formError" *ngIf="isFieldInvalid('name')">Este campo es obligatorio</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Dirección de correo electrónico</label>
        <input type="email" class="form-box form-control" id="email" aria-describedby="emailHelp"
            formControlName="email">
        <div id="emailHelp" class="form-text">Nunca compartiremos tu dirección con otras personas</div>
    </div>
    <div class="mb-3">
        <label for="whyTextarea" class="form-label">Cuéntanos por qué quieres formar parte de WMLGBT+</label>
        <textarea class="form-control text-area" aria-label=" textarea" id="whyTextarea"></textarea>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Checked checkbox
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" value="" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Default radio
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" value="" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
        </label>
    </div>
    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
    </div>
    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-box form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>