@use 'variables';

form {
    width: min(95%, 800px);
    margin: 0.5em auto;
    border: solid black 3px;
    box-shadow: black 4px 4px;
    border-radius: 20px;
    padding: 1.5em;
    background-color: variables.$light;
    font-family: variables.$body-font;

    select {
        .dropdown-item {
            font-family: variables.$font-family-sans-serif;
        }
    }

    .form-check-input,
    .form-check-input:checked,
    .form-check-input:focus {
        border: solid black 2px;
        box-shadow: black 1px 1px;
    }

    .form-box,
    .form-box:focus {
        border: solid black 2px;
        box-shadow: black 1px 1px;
    }

    .form-box:focus {
        background-color: variables.$primary;
    }

    .form-text {
        font-family: variables.$body-font;
    }

    .form-label {
        font-family: variables.$font-family-sans-serif;
        letter-spacing: -0.1em;
    }

    .formError {
        color: variables.$dark-danger;
    }

    .input-group {
        border: solid black 2px;
        box-shadow: black 1px 1px;

        .input-group-text {
            font-size: 0.9em;
            border-right: solid black 3px;
            max-width: 30%;
            text-wrap: wrap;
        }

    }

    .text-area {
        border: solid black 2px;
        box-shadow: black 1px 1px;
        min-height: 7em;
    }

}