<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-3">
    <div class="container-fluid">
        <div class="brand-icon-and-title" routerLink="/home">
            <a class="navbar-brand">
                <div class="barba-icon-container"><img src="./../assets/imgs/Barba-wikiproyecto-lgbt.svg" alt=""></div>
            </a>
            <span class="navbar-title"><span class="WMLGBT">WMLGBT+ </span><span class="en-espanol">en
                    español</span></span>
        </div>


        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <!-- Step 2: Add the ngbCollapse directive to the element below. -->
        <div [ngbCollapse]="isMenuCollapsed" class="navbar-options collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <!-- Step 4: Close the menu when a link is clicked. -->
                    <a class="nav-link" routerLink="/blog" (click)="isMenuCollapsed = true">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/form" (click)="isMenuCollapsed = true">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/stats" (click)="isMenuCollapsed = true">Project
                        statistics</a>
                </li>
            </ul>
        </div>
    </div>
</nav>