@use "_variables";

.navbar {
    border-bottom: solid black 3px;
    background-color: variables.$light !important;

    .brand-icon-and-title {
        cursor: pointer;
        font-weight: bold;
        display: flex;
        align-items: center;

        .barba-icon-container {
            width: 2em;
            height: auto;
            transition: transform 0.3s ease;

            img {
                width: 100%;
                height: auto;
            }

        }

        .barba-icon-container:hover {
            transform: scale(1.1);
        }

        .navbar-title {
            display: flex;
            flex-direction: column;
        }
    }

    .navbar-toggler {
        border: solid black 3px;
        color: black;
        background-color: variables.$info;
    }

    .navbar-options {
        justify-content: center;
        letter-spacing: -0.1em;

        .navbar-nav {
            font-weight: bold;
            width: 90%;
            justify-content: space-evenly;
        }

    }

    a {
        color: black;
        cursor: pointer;
    }

    li>a {
        position: relative;
    }

    /* Fade in */
    li>a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2em;
        border-radius: 3px;
        background-color: variables.$danger;
        transition: opacity 300ms, transform 300ms;
    }

    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }

    /* Scale from center */
    a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    a:hover::after,
    a:focus::after {
        transform: scale(1);
    }

}